@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 5deg, 58%, 50%; /* #C84135 */
  --secondary: 187deg, 23%, 73%; /* #A9C5C8 */
  --cream: #fffdeb; /* #FFFDEB */
  --border: 240deg 3.7% 15.9%;
}

html,
body,
:root {
  height: 100%;
  background-color: #121212;
  color: #ffffffde;
}
